<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Your message to user when the camera is accessed for the first time</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.reactjs.native.example.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key> NSAppleMusicUsageDescription</key>
	<string>App wants to access apple music</string>
	<key> NSBluetoothPeripheralUsageDescription</key>
	<string>App wants to access bluetooth to create connection with healthcare device in future</string>
	<key> NSCalendarsUsageDescription</key>
	<string>App wants to access calendar to ask patient to select the date of disease he is suffering from </string>
	<key> NSSpeechRecognitionUsageDescription</key>
	<string>App wants to use speech recognition</string>
</dict>
</plist>
